body {
	font-family: inconsolata, sans-serif;
	color: #999;
	background: #222222 url('../img/diamond_upholstery.png') repeat;
}

header {
	float: left;
	background: #ccc;
}

a {
	color: #000;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 2.5em;
	color: #ccc;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.btn {
	color: #999;
	background: #ccc url('../img/diamond_upholstery.png') repeat;
	margin: 40px 0;
	padding: 15px 30px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background: #ccc;
	}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
}

ul.nav li {
	float: left;
	margin: 0 40px;
}

ul.nav li a {
	color: #c33027;
}

#intro {
	float: right;
	background: #ccc;
	/*clear: both;*/
}

#quirks img {
	border: 3px solid #000;
}

#quirks .social-contact {
	display: block;
	margin-right: 20px;
	border: none;
	float: left;
	clear: none;
}

#love {
	clear: both;
}

#love img {
	border: 3px solid #000;
}

#love .no-border {
	border: none;
}

.then-now {
	clear: both;
}

#contact {
	/*float: right;*/
}

#copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0;
	margin: 50px 0;
	text-align: center;
}

.close-margin {
	margin-right: -1px;
}

.no-border {
	border: none;
}

img {
	max-width: 100%;
	clear: both;
}